body {
    background: url('bd3cfe31e524ff02647e681d57ba91a1092a42c5_hq.jpg');
    color: rgb(142, 17, 180);
    font-size: 62.5%;
    font-size: 1rem;
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 170px;
    background: rgb(24, 197, 228);
    padding: 1rem;
    opacity: 0.91;
    width: 900px;
    height: 335px;
    border-radius: 5px;
    border: #333 solid 1px;
}

.titulo h1 {
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 2rem;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.paragrafo p {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 1.3rem;
    color: rgb(142, 17, 180);

}

.nome p {
    margin-top: 2rem;
    text-align: center;
    color: purple;
    font-size: 1.65rem;
    
}