body {
    background: url('02.png');
    color: rgb(72, 206, 94);    
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 170px;
    background: rgb(42, 121, 46);
    color: #333;
    padding: 0rem;
    opacity: 0.85;
    width: 900px;
    height: 335px;
    border-radius: 5px;
    border: #333 solid 2px;
    font-size: 1.6rem;
}

.titulo h1 {
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-top: 2px dotted red;
    border-bottom: 2px dotted red;
    color:orange;
    background-color: rgb(35, 143, 40);
    font-size: 2.3rem;
}

.paragrafo p {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: 1.3rem;
    color: rgb(233, 233, 31);
}

.nome p {
    margin-top: 2rem;
    text-align: center;
    color: orange;
    font-size: 1.4rem;
}
.nome a{
color: yellow;
}